.careers{
    width: auto;
    margin-bottom: 100px;
}
.vertical-line-spacer{
    font: 16px/26px DIN_Regular,Roboto Light,Arial,Verdana,geneva,sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    color: #fff;
    width: 1px;
    background-color: #fff;
    border-radius: 1px;
    height: 230px;
    margin: 30px auto;
}

.description p{
    
    text-align: center;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    margin: 34px 0;
    font-weight: 400;
}
.careersButton{
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    min-height: 50px;
    border-radius: 4px;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    outline: none;
    background: transparent;
    font: 14px/14px Roboto,Arial,Verdana,geneva,sans-serif;
    padding: .625rem 1.25rem;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    margin: 0;
    flex: 1 1 280px;
    box-sizing: border-box;
    max-width: 280px;
    min-width: 280px;
}

.openPositionsButtonWrapper{
    align-items: center;
    display: flex;
    justify-content: center;
    

}